.chat-main
  .main-header
    .main-header__box
      %p.main-header__box__name
        = @group.name
      %ul.main-header__box__list
        Member :
        - @group.users.each do |user|
          = user.name
      = link_to edit_group_path(@group.id), class:"main-header__button" do
        Edit
        
  .main-chat
    = render @messages

  .main-form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'



  -# .main-form
  -#   %form.new_message
  -#     .input-box
  -#       %input{type: "text", class: "input-box__text", placeholder: "type a message"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#     %input{type: "submit", class: "submit-btn"}

